manifest {
    name = 'iupred2a-nextflow'
    description = 'Run IUPred2A predictions with Nextflow'
    version = '0.1.0'
    nextflowVersion = '>=24.04.0'
}

params {
    input = null
    mode = 'long'
    anchor = false
    outdir = 'results'
}

process {
    executor = 'local'

    withName: IUPRED2A {
        cpus = 1
        memory = '1 GB'
        time = '1h'
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = 'conda-forge::python=3'
    }

    docker {
        docker.enabled = true
        process.container = 'python:3.12-slim'
    }

    apptainer {
        apptainer.enabled = true
        process.container = 'docker://python:3.12-slim'
    }
}
